
.content__cover {
  margin: 91px auto;
}

@media screen and (max-width: 768px) {
  .content__cover {
    margin: 88px auto;
  }
}

@media screen and (max-width: 530px) {
  .content__cover {
    margin: 60px auto;
  }
}
