
.photo-grid__item {
  width: 284px;
  height: 213px;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 1183px) {
  .photo-grid__item {
    width: calc((100% - 14px * 2 ) / 3 );
    height: calc((93.5vw - 14px * 4) / 4);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    width: calc((100% - 14px * 1) / 2);
    height: calc((100vw * 2.17 - 14px * 5) / 6);
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__item {
    width: 100%;
    height: calc((100vw*8.52 - 14px*11) / 12);
  }
}
