
.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 32px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 95%;
    font-size: 12.5vw;
  }
}


@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    width: 90%;
    margin-bottom: 16px;
  }
}
