
.cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 245px 0;
  background-image: url(../../images/cover_train_station.jpg);
  background-color: #2A2C2F;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.cover::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity 1s ease;
  z-index: 1;
}

.cover:hover::before {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 19% 0;
  }
}

@media screen and (max-width: 768px){
  .cover {
    padding: 15.1% 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding: 7.3% 0;
  }
}
