
.place__link {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: white;
}
.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

